import { defineConfig } from 'vite';

export default defineConfig({
  root: 'public',  // Point to the 'public' folder for your frontend files
  build: {
    outDir: '../dist',  // Output the build files into the 'dist' folder at the root
    rollupOptions: {
      input: {
        main: 'public/index.html',  // Entry HTML file in the 'public' folder
      },
    },
  },
});